In [1]:
import xarray as xr
import numpy as np
import datetime 
import numpy as np
import mpmath as mp
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import copy
from sklearn.preprocessing import StandardScaler
%matplotlib qt

from matplotlib.dates import DayLocator, HourLocator, DateFormatter, drange
import os 
from os import listdir
from os.path import isfile, join

def get_directory(folder):
    files= [a for a in listdir(folder) if isfile(join(folder,a))]
    
    return files
import os 
from os import listdir
from os.path import isfile, join

## DATA COD

In [2]:
#data_folder="C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembre"
#data_folder="C:/Users/enclab01/Desktop/THESIS/codigos tesis/dataseptiembre2"
#data_folder="C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/Julio 2022"
data_folder="C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019"



list_of_files=get_directory(data_folder)

#List with the paths
newlist=[]
for item in list_of_files:
    newlist.append(data_folder+'/'+str(item))
print(newlist)

import GOES

MM_final_table=[]
for item in newlist:
    #Importing data
    titles=['Dates_and_Hours', 'COD','DQF']
    data= pd.read_table(str(item), header=None, names=titles, sep='\t')
    data2=data.iloc[np.arange(1,len(data)),:] #delete the first row
    data2=data2.reset_index(drop=True)
    MM_final_table.append(data2)

    
'merge the dataframes'
df1=MM_final_table[0]
for i in np.arange(1,len(MM_final_table)):
    df1=pd.concat([df1, MM_final_table[i]])
df1= df1.reset_index() 


print(df1)
df1['COD']=df1['COD'].astype(float)
df1['DQF']=df1['DQF'].astype(float)
'Reemplazar los valores que sean mayores a 50 por nans'
df1['COD'] = df1['COD'].apply(lambda x: np.nan if x > 50 else x)    
 
print(df1)    

'Drop the nans'
check_for_nan_1 = df1['COD'].isnull()
data_copy = df1.copy()
for i in np.arange(0,len(df1)):
    if check_for_nan_1[i]==True:
        data_copy.drop(i, axis=0, inplace=True)
df1=data_copy
df1= df1.reset_index() 

print(df1)
df1=df1[['Dates_and_Hours','COD' ,'DQF']]
# Ordenar en orden ascendente por la columna 'fecha'
df1 = df1.sort_values(by='Dates_and_Hours', ascending=True)  


print(df1)

'Rolling average'
df1['Rolling']=df1['COD'].rolling(10,center=True).mean()    
print('rolling',df1['Rolling'])

'1 minute resample'
#Resample
df1['index'] = pd.to_datetime(df1['Dates_and_Hours'])
df1.set_index('index', inplace=True)
df1=df1.resample('1T').mean()
df1['t_utc'] = pd.to_datetime(df1.index.values)
df1= df1.reset_index()

print(df1)
# Ordenar en orden ascendente por la columna 'fecha'
df1 = df1.sort_values(by='t_utc', ascending=True)
  

   
print(df1)
 
# -----------------------------------------------------------------    
'Veamos que pasa con un interpolate'    
    
time2=pd.to_datetime(df1['t_utc'])
# Interpolar los valores NaN en el DataFrame df
df2 = df1['COD'].interpolate(method='linear')
print(df2)    
COD_values2=df2
COD_values2=COD_values2.astype(float)  

df3 = df1['Rolling'].interpolate(method='linear')
print(df3)    
COD_values3=df3
COD_values3=COD_values3.astype(float)  


# -----------------------------------------------------------------    
    
'Drop the nans'
check_for_nan_1 = df1['COD'].isnull()
data_copy = df1.copy()
for i in np.arange(0,len(df1)):
    if check_for_nan_1[i]==True:
        data_copy.drop(i, axis=0, inplace=True)
df1=data_copy
df1= df1.reset_index() 

print(df1)    

time=pd.to_datetime(df1['t_utc'])
COD_values=df1['COD']
DQF_values=df1['DQF']

['C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes01.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes010.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes02.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes03.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes04.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes05.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes06.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes07.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes08.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes09.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes11.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes12.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes13.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes14.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes15.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes16.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes17.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes18.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes19.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes20.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes21.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes22.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos Point Sur/2019/Mes23.txt']
       index             Dates_and_Hours  COD  DQF
0          0  2019-09-01 00:01:19.703999  NaN  6.0
1          1  2019-09-01 00:06:19.703817  NaN  6.0
2          2  2019-09-01 00:11:19.703627  NaN  6.0
3          3  2019-09-01 00:16:19.705240  NaN  6.0
4          4  2019-09-01 00:21:19.705045  NaN  6.0
...      ...                         ...  ...  ...
10766    495  2019-08-29 09:36:19.669421  NaN  7.0
10767    496  2019-08-29 09:41:19.669026  NaN  7.0
10768    497  2019-08-29 09:46:19.668633  NaN  7.0
10769    498  2019-08-29 09:51:19.668244  NaN  7.0
10770    499  2019-08-29 09:56:19.667859  NaN  7.0

[10771 rows x 4 columns]
       index             Dates_and_Hours  COD  DQF
0          0  2019-09-01 00:01:19.703999  NaN  6.0
1          1  2019-09-01 00:06:19.703817  NaN  6.0
2          2  2019-09-01 00:11:19.703627  NaN  6.0
3          3  2019-09-01 00:16:19.705240  NaN  6.0
4          4  2019-09-01 00:21:19.705045  NaN  6.0
...      ...                         ...  ...  ...
10766    495  2019-08-29 09:36:19.669421  NaN  7.0
10767    496  2019-08-29 09:41:19.669026  NaN  7.0
10768    497  2019-08-29 09:46:19.668633  NaN  7.0
10769    498  2019-08-29 09:51:19.668244  NaN  7.0
10770    499  2019-08-29 09:56:19.667859  NaN  7.0

[10771 rows x 4 columns]
     level_0  index             Dates_and_Hours        COD  DQF
0        145    145  2019-09-01 12:06:19.667155  16.000002  1.0
1        148    148  2019-09-01 12:21:19.668078  16.000002  1.0
2        500      0  2019-09-16 16:06:19.692071   9.756754  0.0
3        501      1  2019-09-16 16:11:19.691803   7.066077  0.0
4        503      3  2019-09-16 16:21:19.691258   6.648559  0.0
..       ...    ...                         ...        ...  ...
656    10527    256  2019-08-28 13:41:19.671141  16.000002  5.0
657    10528    257  2019-08-28 13:46:19.670968  16.000002  5.0
658    10530    259  2019-08-28 13:56:19.672447  16.000002  5.0
659    10531    260  2019-08-28 14:01:19.672285  16.000002  5.0
660    10547    276  2019-08-28 15:21:19.675933   1.626126  4.0

[661 rows x 5 columns]
                Dates_and_Hours        COD  DQF
621  2019-08-03 06:01:19.711913  16.000002  1.0
622  2019-08-03 10:26:19.663699  16.000002  1.0
623  2019-08-03 10:31:19.663382  16.000002  1.0
624  2019-08-03 23:51:19.699493   1.760415  0.0
625  2019-08-03 23:56:19.699320   2.700443  0.0
..                          ...        ...  ...
616  2019-09-30 12:46:19.681111   2.475813  1.0
617  2019-09-30 12:51:19.680839   3.403632  1.0
618  2019-09-30 12:56:19.680557   3.357241  1.0
619  2019-09-30 13:06:19.680001   4.436442  1.0
620  2019-09-30 13:46:19.681310   3.174119  1.0

[661 rows x 3 columns]
rolling 621         NaN
622         NaN
623         NaN
624         NaN
625         NaN
         ...
616    2.805189
617         NaN
618         NaN
619         NaN
620         NaN
Name: Rolling, Length: 661, dtype: float64
                    index        COD  DQF  Rolling               t_utc
0     2019-08-03 06:01:00  16.000002  1.0      NaN 2019-08-03 06:01:00
1     2019-08-03 06:02:00        NaN  NaN      NaN 2019-08-03 06:02:00
2     2019-08-03 06:03:00        NaN  NaN      NaN 2019-08-03 06:03:00
3     2019-08-03 06:04:00        NaN  NaN      NaN 2019-08-03 06:04:00
4     2019-08-03 06:05:00        NaN  NaN      NaN 2019-08-03 06:05:00
...                   ...        ...  ...      ...                 ...
83981 2019-09-30 13:42:00        NaN  NaN      NaN 2019-09-30 13:42:00
83982 2019-09-30 13:43:00        NaN  NaN      NaN 2019-09-30 13:43:00
83983 2019-09-30 13:44:00        NaN  NaN      NaN 2019-09-30 13:44:00
83984 2019-09-30 13:45:00        NaN  NaN      NaN 2019-09-30 13:45:00
83985 2019-09-30 13:46:00   3.174119  1.0      NaN 2019-09-30 13:46:00

[83986 rows x 5 columns]
                    index        COD  DQF  Rolling               t_utc
0     2019-08-03 06:01:00  16.000002  1.0      NaN 2019-08-03 06:01:00
1     2019-08-03 06:02:00        NaN  NaN      NaN 2019-08-03 06:02:00
2     2019-08-03 06:03:00        NaN  NaN      NaN 2019-08-03 06:03:00
3     2019-08-03 06:04:00        NaN  NaN      NaN 2019-08-03 06:04:00
4     2019-08-03 06:05:00        NaN  NaN      NaN 2019-08-03 06:05:00
...                   ...        ...  ...      ...                 ...
83981 2019-09-30 13:42:00        NaN  NaN      NaN 2019-09-30 13:42:00
83982 2019-09-30 13:43:00        NaN  NaN      NaN 2019-09-30 13:43:00
83983 2019-09-30 13:44:00        NaN  NaN      NaN 2019-09-30 13:44:00
83984 2019-09-30 13:45:00        NaN  NaN      NaN 2019-09-30 13:45:00
83985 2019-09-30 13:46:00   3.174119  1.0      NaN 2019-09-30 13:46:00

[83986 rows x 5 columns]
0        16.000002
1        16.000002
2        16.000002
3        16.000002
4        16.000002
           ...
83981     3.300351
83982     3.268793
83983     3.237235
83984     3.205677
83985     3.174119
Name: COD, Length: 83986, dtype: float64
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
83981    2.805189
83982    2.805189
83983    2.805189
83984    2.805189
83985    2.805189
Name: Rolling, Length: 83986, dtype: float64
     level_0               index        COD  DQF   Rolling               t_utc
0          0 2019-08-03 06:01:00  16.000002  1.0       NaN 2019-08-03 06:01:00
1        265 2019-08-03 10:26:00  16.000002  1.0       NaN 2019-08-03 10:26:00
2        270 2019-08-03 10:31:00  16.000002  1.0       NaN 2019-08-03 10:31:00
3       1070 2019-08-03 23:51:00   1.760415  0.0       NaN 2019-08-03 23:51:00
4       1075 2019-08-03 23:56:00   2.700443  0.0       NaN 2019-08-03 23:56:00
..       ...                 ...        ...  ...       ...                 ...
656    83925 2019-09-30 12:46:00   2.475813  1.0  2.805189 2019-09-30 12:46:00
657    83930 2019-09-30 12:51:00   3.403632  1.0       NaN 2019-09-30 12:51:00
658    83935 2019-09-30 12:56:00   3.357241  1.0       NaN 2019-09-30 12:56:00
659    83945 2019-09-30 13:06:00   4.436442  1.0       NaN 2019-09-30 13:06:00
660    83985 2019-09-30 13:46:00   3.174119  1.0       NaN 2019-09-30 13:46:00

[661 rows x 6 columns]

## DATA ALTITUDE

In [3]:
data_folder="C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura"
list_of_files=get_directory(data_folder)

#List with the paths
newlist=[]
for item in list_of_files:
    newlist.append(data_folder+'/'+str(item))
print(newlist)

import GOES

MM_final_table=[]
for item in newlist:
    #Importing data
    titles=['Dates_and_Hours', 'HT', 'DQF']
    data= pd.read_table(str(item), header=None, names=titles, sep='\t',parse_dates=['Dates_and_Hours'])
    data2=data.iloc[np.arange(1,len(data)),:] #delete the first row
    data2=data2.reset_index(drop=True)
    MM_final_table.append(data2)


'merge the dataframes'
df2=MM_final_table[0]
for i in np.arange(1,len(MM_final_table)):
    df2=pd.concat([df2, MM_final_table[i]])
df2= df2.reset_index() 


'Drop the nans'
check_for_nan_1 = df2['HT'].isnull()
data_copy = df2.copy()
for i in np.arange(0,len(df2)):
    if check_for_nan_1[i]==True:
        data_copy.drop(i, axis=0, inplace=True)
df2=data_copy
df2= df2.reset_index() 


# Ordenar en orden ascendente por la columna 'fecha'
df2 = df2.sort_values(by='Dates_and_Hours', ascending=True)


df2['HT']=df2['HT'].astype(float)
df2['DQF']=df2['DQF'].astype(float)

# 'Reemplazar los valores que sean mayores a 50 por 55 para que sea mas facil el analisis de datos'
# Reemplazar los valores mayores que 50 por 55 en la columna 'columna_valor'
# df1['COD'] = df1['COD'].apply(lambda x: 55 if x > 50 else x)

df2=df2[['Dates_and_Hours','HT','DQF']]
print(df2)

#time2=pd.to_datetime(df2['Dates_and_Hours'])
HT_values=df2['HT']
DQF_values2=df2['DQF']

['C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-01.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-02.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-03.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-04.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-05.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-06.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-07.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-08.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-09.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-10.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-11.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-12.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-13.txt', 'C:/Users/enclab01/Desktop/THESIS/codigos tesis/Datos San Nicolas/dataseptiembrealtura/Septiembre2022-14.txt']
                 Dates_and_Hours         HT  DQF
0     2022-09-01 00:01:17.736182  12510.910  0.0
1     2022-09-01 00:06:17.736186  12494.124  0.0
2     2022-09-01 00:11:17.736185  12467.571  0.0
3     2022-09-01 00:16:17.736182  12481.000  0.0
4     2022-09-01 00:21:17.737981  12244.468  0.0
...                          ...        ...  ...
4139  2022-09-30 23:36:17.700203  11197.619  0.0
4140  2022-09-30 23:41:17.700283  11260.796  0.0
4141  2022-09-30 23:46:17.700373  11532.122  0.0
4142  2022-09-30 23:51:17.700464  10425.453  0.0
4143  2022-09-30 23:56:17.702354   9568.747  0.0

[4144 rows x 3 columns]

In [4]:
#------------------------------------------------------------------------------
#Resample
df2['index'] = pd.to_datetime(df2['Dates_and_Hours'])
df2.set_index('index', inplace=True)
data2=df2.resample('1T').mean()

data2['t_utc'] = pd.to_datetime(data2.index.values)
data2= data2.reset_index()

altitudekm=[]

for item in data2['HT']:
    altitudekm.append(item/1000)

'----------------------------------------------------------------------------'
fig, ax = plt.subplots(1)
fig.autofmt_xdate()
#plt.plot(time, COD_values,'-x',c='black') 
#plt.plot(time, derivative,'-.',c='red') 
plt.plot(data2['t_utc'],altitudekm,'-x')
 
plt.ylabel('Altitude (Km)')
plt.xlabel('Time (UTC)')
xfmt = mdates.DateFormatter('%b %d %H:%M')
ax.xaxis.set_major_formatter(xfmt)

## ALGORITHM

In [5]:
from scipy.signal import find_peaks
from scipy.signal import find_peaks, savgol_filter


'PEAKS DATOS ORIGINALES'

indicess = find_peaks(COD_values, height=0.00002, prominence=(None, 4000), width=(0.000002, 4000),  rel_height=1)
index=indicess[0]

pir=[]
widths=[]
for m in np.arange(0,len(indicess[1]['peak_heights'])):
    pir.append([indicess[0][m],indicess[1]['prominences'][m],indicess[1]['peak_heights'][m],abs(indicess[1]['right_ips'][m]-indicess[1]['left_ips'][m])])
    widths.append(indicess[1]['widths'][m])    
    
'ROLLING AVERAGE'

#Transform a list into a data column
df = pd.DataFrame({'col':COD_values})
dqfvalues=df['col']
rolling=dqfvalues.rolling(10,center=True).mean()

#'peaks rolling'
#indicesrolling,properties = find_peaks(rolling,prominence=1,width=5,  rel_height=1)
    
    
'peaks rolling tras el resample'
indicesrolling, properties = find_peaks(COD_values3, prominence=1,width=5,  rel_height=1)
print(len(indicesrolling)) 
print(len(properties))

19
7

In [6]:
import math
from datetime import datetime, timedelta


left=[]
right=[]
time_left=[]
time_right=[]
minutes=[]
for i in np.arange(0,len(indicesrolling)):
    left.append(math.floor(properties["left_ips"][i]))
    right.append(math.ceil(properties["right_ips"][i]))
    time_left.append(time2[math.floor(properties["left_ips"][i])])
    time_right.append(time2[math.ceil(properties["right_ips"][i])])
    
    diferencia= time2[math.ceil(properties["right_ips"][i])] - time2[math.floor(properties["left_ips"][i])] 
    minutos_diferencia = diferencia.total_seconds()/60
    minutes.append(minutos_diferencia)
    
    
#Create a dataframe with all the variables needed for the analysis 
dataframe = pd.DataFrame({'Time_left':time_left,'Time_right':time_right,'Left':left,'Right':right, 'Minutes': minutes, 'Prominences': properties["prominences"]})  
print(dataframe)

             Time_left          Time_right   Left  Right  Minutes  Prominences
0  2019-08-04 00:46:00 2019-09-05 09:58:00   1125  47757  46632.0    10.823014
1  2019-09-05 10:51:00 2019-09-07 15:02:00  47810  50941   3131.0     2.929956
2  2019-09-07 15:46:00 2019-09-15 01:54:00  50985  61673  10688.0     3.271540
3  2019-09-15 02:02:00 2019-09-15 07:01:00  61681  61980    299.0     8.096201
4  2019-09-15 02:01:00 2019-09-15 12:11:00  61680  62290    610.0     9.863209
5  2019-09-15 10:21:00 2019-09-15 11:17:00  62180  62236     56.0     3.147261
6  2019-09-15 13:54:00 2019-09-15 17:51:00  62393  62630    237.0     2.403052
7  2019-09-15 18:08:00 2019-09-15 21:11:00  62647  62830    183.0     4.218160
8  2019-09-15 12:57:00 2019-09-16 07:26:00  62336  63445   1109.0     8.504442
9  2019-09-16 10:15:00 2019-09-16 14:06:00  63614  63845    231.0     2.764902
10 2019-09-16 07:28:00 2019-09-23 03:11:00  63447  73270   9823.0    16.812820
11 2019-09-16 17:26:00 2019-09-16 19:20:00  64045  64159    114.0     8.839189
12 2019-09-16 22:06:00 2019-09-22 21:48:00  64325  72947   8622.0     2.106394
13 2019-09-25 16:58:00 2019-09-25 23:16:00  76977  77355    378.0     2.516832
14 2019-09-26 23:38:00 2019-09-27 17:51:00  78817  79910   1093.0    13.841844
15 2019-09-27 19:35:00 2019-09-27 21:11:00  80014  80110     96.0     8.650451
16 2019-09-23 05:31:00 2019-09-30 11:46:00  73410  83865  10455.0    32.252956
17 2019-09-27 23:36:00 2019-09-28 00:47:00  80255  80326     71.0     5.390387
18 2019-09-28 23:21:00 2019-09-30 11:25:00  81680  83844   2164.0     1.326293

In [7]:
dataframe.to_csv('dataframe events'+".txt", index=False, sep='\t')

## Histogram

In [8]:
plt.figure()
plt.hist(dataframe["Minutes"],bins=200,range=(0,3150))
plt.xlabel('Length of Cloud Dissipation (minutes)')
plt.ylabel('Count (nº Events)')

Text(0, 0.5, 'Count (nº Events)')

In [9]:
plt.figure()
plt.hist(dataframe["Prominences"],bins=200,range=(0,30))
plt.xlabel('Delta COD')
plt.ylabel('Count (nº Events)')

Text(0, 0.5, 'Count (nº Events)')

## 2D HISTOGRAM

In [10]:
x=dataframe["Minutes"]
xx=x.astype(float)
y=dataframe["Prominences"]
yy=y.astype(float)

xedges=50
yedges=50
xmin=0
xmax=600
ymin=0
ymax=10  

HHH, xedges, yedges= np.histogram2d(xx,yy, bins=(xedges,yedges), range=[[xmin,xmax],[ymin,ymax]])

extent = [xmin,xmax, ymin, ymax]

fig, ax= plt.subplots()

im=ax.imshow(HHH.T ,origin='lower', extent=extent, aspect='auto')
plt.colorbar(im, label='# Dissipation events per bin')
#plt.clim(0,0.001) #This limit shows how to low values looks like

#ax.set_facecolor((0.8,0.8,0.8))
ax.set_facecolor('grey')
plt.xlabel('Length of Cloud Dissipation (minutes)',fontsize=12)
plt.ylabel('COD variations', fontsize=12)

Text(0, 0.5, 'COD variations')

##  OTROS GRAFICOS

In [11]:
from datetime import datetime, timedelta

# Definir dos objetos de fecha y hora
fecha1 = datetime(2023, 9, 11, 10, 30)  # Año, mes, día, hora, minutos
fecha2 = datetime(2023, 9, 11, 12, 45)

# Calcular la diferencia entre las dos fechas y obtener el resultado en minutos
diferencia = fecha2 - fecha1
minutos_diferencia = diferencia.total_seconds() / 60

print(minutos_diferencia)

135.0

In [12]:
'----------------------------------------------------------------------------'
fig, ax = plt.subplots(1)
fig.autofmt_xdate()

#plt.plot(time2, COD_values2,'-x',c='red')
plt.plot(time2, COD_values3,'-x',c='purple') 

#plt.plot(time, COD_values,'-x',c='black') 
 
    
#plt.plot(time, derivative,'-.',c='red') 
#plt.plot(time, rolling,'X',c='black') 
 
plt.ylabel('COD Measurements')
plt.xlabel('Time (UTC)')
xfmt = mdates.DateFormatter('%b %d %H:%M')
ax.xaxis.set_major_formatter(xfmt)

In [13]:
COD_values3

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
83981    2.805189
83982    2.805189
83983    2.805189
83984    2.805189
83985    2.805189
Name: Rolling, Length: 83986, dtype: float64

## NUEVO PLOT PARA VISUALIZAR LOS ANCHOS

In [14]:
'----------------------------------------------------------------------------'
sas=np.arange(0,len(time2))
fig, ax = plt.subplots(1)

'Ploteamos el rolling average'
plt.plot( sas , COD_values3,'-x',c='black') 
 
    
plt.ylabel('COD Measurements')
plt.xlabel('Time (UTC)')

plt.vlines(x=sas[indicesrolling], ymin=COD_values3[indicesrolling] - properties["prominences"],
           ymax = COD_values3[indicesrolling], color = "C1")
plt.hlines(y=properties["width_heights"], xmin=properties["left_ips"],
           xmax=properties["right_ips"], color = "C1")

plt.plot(properties["left_ips"], properties["width_heights"],'X',c='red')
plt.plot(properties["right_ips"], properties["width_heights"],'X',c='blue')


# Plotea líneas verticales en cada punto
for i in range(len(left)):
    ax.vlines(left[i], ymin=COD_values3[left[i]], ymax=COD_values3[left[i]]+10, color='purple', linestyle='-', alpha=0.5)
# Plotea líneas verticales en cada punto
for i in range(len(right)):
    ax.vlines(right[i], ymin=COD_values3[right[i]], ymax=COD_values3[right[i]]+10, color='purple', linestyle='-', alpha=0.5)

In [15]:
print(properties["prominences"])

[10.82301379  2.92995604  3.27154013  8.09620122  9.86320893  3.14726119
  2.40305229  4.21815983  8.50444174  2.76490178 16.81282033  8.83918905
  2.10639421  2.51683218 13.8418444   8.6504512  32.25295613  5.3903867
  1.32629338]

In [16]:
#FIRST PLOT
plt.figure()
ax2=plt.subplot(212)
figsize=(20,4)
   
plt.plot(time, COD_values,'-x',c='black')     
plt.plot(time, rolling,'-x',c='purple') 
#plt.text(0.01, 0.75, "D)", fontweight="bold", fontsize=13 ,transform=ax7.transAxes)
plt.ylabel('COD (adimensional)',fontsize=13)



#SECOND PLOT

ax1=plt.subplot(211,sharex=ax2)
figsize=(20,4)
plt.plot(time2,HT_values ,'-x',color='black')
plt.plot(time2,10000*np.ones(len(time2)))
plt.ylabel('Altitude (m)',fontsize=13)

ValueError: x and y must have same first dimension, but have shapes (83986,) and (4144,)